[submodule "repo/riscv-isa-cosim"]
	path = repo/riscv-isa-cosim
	url = https://github.com/sycuricon/riscv-isa-cosim.git
[submodule "repo/verilator"]
	path = repo/verilator
	url = https://github.com/verilator/verilator.git
